{% extends "base.html" %}

{% block title %}Welcome to Game Guesser{% endblock %}

{% block content %}
<div class="container">
    <h1>Choose Your Game</h1>
    <div class="game-grid">
        <!-- Replace with actual game logo images and values -->
        <form action="{{ url_for('start_game') }}" method="POST">
            <button type="submit" name="game" value="game1" class="game-button">
                <img src="{{ url_for('static', filename='images/logos/halo2.png') }}" alt="Game 1" />
            </button>
            <button type="submit" name="game" value="game2" class="game-button">
                <img src="{{ url_for('static', filename='images/logos/mw2.png') }}" alt="Game 2" />
            </button>
            <button type="submit" name="game" value="game3" class="game-button">
                <img src="{{ url_for('static', filename='images/game3_logo.png') }}" alt="Game 3" />
            </button>
            <!-- Add more games as needed -->
        </form>
    </div>
</div>
{% endblock %}